* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 3, 42);
    height: 100vh;
    overflow: hidden;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

footer > p {
    font-size: 37px;
}

.wind {
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.temperature-days {
    display: flex;
    .days {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 10px;
    }
    .temp {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

.hills {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 82px;
}

.front-hill {
    z-index: 6;
}

.front-hill div:nth-of-type(1) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(-100px, 300px);
    border-radius: 100%;
}

.front-hill div:nth-of-type(2) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(200px, 340px);
    border-radius: 100%;
}

.front-hill div:nth-of-type(3) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(550px, 320px);
    border-radius: 100%;
}

.front-hill div:nth-of-type(4) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(700px, 300px);
    border-radius: 100%;
}

.front-hill div:nth-of-type(5) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(900px, 330px);
    border-radius: 100%;
}

.front-hill div:nth-of-type(6) {
    background-color: #303C5D;
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0px;
    transform: translate(1200px, 330px);
    border-radius: 100%;
}

.back-hill {
    z-index: 2;
}

.back-hill div:nth-of-type(1) {
    background-color: #26314f;
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 0px;
    transform: translate(150px, 400px);
    border-radius: 100%;
}

.back-hill div:nth-of-type(2) {
    background-color: #26314f;
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 0px;
    transform: translate(900px, 400px);
    border-radius: 100%;
}

.back-hill div:nth-of-type(3) {
    background-color: #26314f;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0px;
    transform: translate(600px, 300px);
    border-radius: 100%;
}