.sand {
    background-color: rgb(242, 242, 125);
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.piramid {
    position: relative;
    top:200px;
    left: 205px;
    width: 230px;
    height: 220px;
    transform: translate(-50%, -50%);
}

.right-side {
    background-color: blue;
    clip-path: polygon(0 0, 15% 100%, 100% 100%);
    width: 200px;
    height: 200px;
    position: absolute;
    right: -70px;
    animation: right-side 3s linear infinite;
}

.left-side {
    background-color: rgb(91, 91, 53);
    clip-path: polygon(100% 100%, 85% 0, 0 100%);
    width: 200px;
    height: 200px;
    position: absolute;
    left: -70px;
    animation: left-side 3s linear infinite;
}

.shadow {
    width: 315px;
    height: 100px;
    z-index: 6;
    position: absolute;
    right: 40px;
    background-color: rgb(111, 111, 6);
    animation: shadow 3s linear infinite;
}

.sun {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: center 380%;
    animation: sun 3s linear infinite;
}